.container{
    background: white;
    border-radius: 1em;
    padding: 2em;

    h1{
        margin-top: 0px;
    }
    
    table{
        border-collapse: collapse;
    }

    tr{
        border-bottom: 1px solid #777;
    }
    tr:nth-child(even) {
        background-color: #eee;
    }
}