table{
    box-sizing: border-box;
    width: 100%;
    width: 100%;
    border-radius: 5px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #444; /* this draws the table border  */ 
}

tr{
    height:3em;
}

td{
    font-size: 1em;
    text-align: center;
}

.pagination{
    margin-top: 5px;
    text-align: right;
    button{
        float: left;
    }
}